body{
    display: flex;
    background-color: #a80000;
    background-image: url("img/back\ web.jpg");
    /* background-image: url("img/bg.jpg"); */
    background-attachment: fixed;
    background-size: 100%;
    /* background-repeat: repeat; */
    justify-content: space-between;
    overflow-x: hidden;
    
}
.logo{
    margin-top: 10px;
    font-family: 'Playball', cursive;
    color: white;
    height: 100%;
    width: 100px;
}

.active{
    display: none;
}
nav{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    padding: 5px 20px;  
      
}

nav ul{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 50px;
    
}
nav ul li {
    color: rgb(202, 202, 202);
    text-decoration: none;
    list-style: none;
    
}
nav ul li a{
    
    color: white;
    text-decoration: none;
    font: 15px;
    padding: 5px 10px ;
}

nav ul li a:hover{
    color: maroon;
    font: 17px;
    border: 1px solid maroon;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    filter: opacity(90%);
    transition: 0.5s;
    
}
/* container */
.container-fluid{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    top: 200px;
}
/* content */
.content{
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 100px;
    width: 100%;

}
/* image content */
.img-content{
    width: 50%;
    height: 300px;
    
}
#imga{
    background-image: url('img/bg.jpg');
    background-size: 100% 110%;
    border-radius: 25px;
    padding: 25pxpx;
    margin-top: 10px;

}
#imgb{
    background-image: url('img/osis.jpg');
    background-size: 100% 110%;
    border-radius: 25px;
    padding: 25pxpx;
    margin-top: 10px;

}
.img-text{
    width: 50%;
    background:rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 25px;
    font: 72px;
    color:rgb(202, 202, 202);
}
.sec{
    display: flex;
    flex-direction: row;
    margin-block: 10px;
}




/* place holder */
.plcholder{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;


}

.card{
    width: 30%;
    margin-block: 25px ;
}
/* place holder image */
.img-card{
    background-color: black;
    width: 100%;
    height: 300px;
}

/* brandings CSS */


/* Onetice CSS */


/* Aspirasi Css */
form{
    width: 50%;
    margin: 20% auto;   
}
form input{
    width: 100%;
    height: 100px;
}



/* Hamburger Menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
    position: relative;
}
.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(224, 224, 224);
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 40px;
    left: -9px;
    top: -9px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    
    
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2){

    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){

    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){

    transform: rotate(45deg) translate(2px , 0);
}

.menu-toggle input:checked ~ span:nth-child(4){

    transform: rotate(-45deg) translate(0px , 0);
}

/* dissapearing middle span */
.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
}


/* Responsive BreakPoint */

/* Smartphone */

@media only screen and (max-width: 768px) {

    nav{
        width: 100%;
        justify-content: right;
    }
    .active{
        display: flex;
    }
    .logo{
        position: absolute;
        height: 100px;
        left: 0;
    }
    nav ul {
        position: absolute;
        margin-top: 70px;
        right: -100px;
        top: -20px;
        flex-direction: column;
        height: 200px;
        width: 50%;
        align-items: center;
        transition: all 1s;
        transform: translateX(100%);
        opacity: 0;
        z-index: 2;
        
        background-color: black;
    }
    nav ul.slide{
        transform: translateX(0);
        opacity: 1;
        
    }
    nav ul li a:hover{
        color: maroon;
        font: 17px;
        border: none;
        background-color: none;
        
    }

    .menu-toggle {
        display: flex;
        margin-top: 10px;

    }

    /* card responsive */
    .plcholder{
        flex-direction: column;
    }
    .card{
        width: 100%;
        margin-block: 25px;
    }

    /* content responsive */
    
    .sec{
        flex-direction: column;
    }
    #secb{
        flex-direction: column-reverse;
    }
    .img-text{
        width: 100%;
        margin-block: 10px;
        padding: 10px;
    }
    .img-content{
        width: 100%;
    }
    

    
    
   
        
}   
